*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-family: "Tahoma";
    font-size: 10px;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.accordion-item{
    background-color: #283042;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}
.accordion-link{
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    background-color:#283042;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.accordion-link i{
    color: #e7d5ff;
    padding: .5rem;
}
.accordion-link .ion-md-remove {
    display: none;
}
.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
    transition: max-height 650ms;
}
.answer::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #8fc460;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.answer p{
    font-size: 1.4rem;
    color: white;
    padding: 2rem;
}

.accordion-item:target .answer{
    max-height: 20rem;
}
.accordion-item:target .accordion-link .ion-md-add{
    display: none;
}
.accordion-item:target .accordion-link .ion-md-remove{
    display: block;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family:Verdana, 'Geneva', Tahoma, sans-serif;
    padding: 35px;
}
#hero-msg h1 {
    text-align: center;
    font-family: Tahoma, 'Times New Roman';
    color: white;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #d6c4a8;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: #ffffff; 
    font-family:Verdana, 'Geneva', Tahoma, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #5b6155;
}

.msg {
    background-color: #707365;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: #707365;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title {
    color: black;
    font-size: 2em;
    margin-top: 10px;
}
footer h3 {
    color: #eee2ce;
}
footer a {
    color: #eee2ce;
    text-decoration: none;
}
footer a:hover {
    color: #f5f2ed;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer h3 a:hover {
    text-decoration: underline;
}
h2 {
    font-family: Tahoma, 'Times New Roman';
    margin: 0;
}
p {
    font-family: Verdana;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
main section img {
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4 {
    text-align: center;
    font-family: Tahoma, 'Times New Roman';
    color: white;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.home-grid {
    display: grid;
    grid-template-columns: repeat (10, 1fr)
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #707365;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}