#content {
    max-width: 20000px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Bungee', 'Times New Roman';
    padding: 30px;
    font-size: 30px;
}
main section {
    text-align: center;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#2874a7;
}
h1 {
    text-align: center;
    font-size: 4em;
    margin-top: 150px;
    color:black;
    text-decoration: underline;
}
body {
    background-color: #e1f3ff; 
    font-family: 'Bungee', 'Times New Roman';
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: white;
}
footer {
    background-color: #2874a7;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    font-family: 'Bungee', 'Times New Roman';
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: black;
    text-decoration: underline;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer h3 {
    font-family: 'Bungee', 'Times New Roman';
    color: white;
}
footer h3 a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
footer p {
    color: black;
    font-family: 'Itim', 'Times New Roman';
}
.basic-card, .express-card, .deluxe-card, .otheroptions-card {
    margin: 200px 0;
}
.card-img {
    width: 70%;
    border: 10px solid #2874a7;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #2874a7;
}
main section img {
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a:hover {
    background-color: #1a5379;
    color: black;
}
.basic-card {
    grid-column: 1;
    padding-right: 2em;
}
.express-card {
    grid-column: 2;
    padding-right: 2em;
}
.deluxe-card {
    grid-column: 3;
}
h2 {
    font-size: 3em;
    text-decoration: underline;
}
li {
    font-size: 1.5em;
    list-style: none;
}
.cards {
    position: relative;
    text-align: center;
}
.basic-card h2 {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 3px black;
}
.listical1 {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 3px black;
}
.express-card h2 {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 3px black;
}
.listical2 {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 3px black;
}
.deluxe-card h2 {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 3px black;
}
.listical3 {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 3px black;
}
.listical1 a {
    color: black;
    text-decoration: none;
    -webkit-text-stroke: 1px white;
    background-color: #2874a7;
    font-size: 40px; 
    padding: 15px 30px;
    margin-top: 48px;
    border-radius: 5px;
}
.listical2 a {
    color: black;
    text-decoration: none;
    -webkit-text-stroke: 1px white;
    background-color: #2874a7;
    font-size: 40px; 
    padding: 15px 30px;
    margin-top: 48px;
    border-radius: 5px;
}
.listical3 a {
    color: black;
    text-decoration: none;
    -webkit-text-stroke: 1px white;
    background-color: #2874a7;
    font-size: 40px; 
    padding: 15px 30px;
    margin-top: 48px;
    border-radius: 5px;
}
.listical1 a:hover {
    background-color: #1a5379;
}
.listical2 a:hover {
    background-color: #1a5379;
}
.listical3 a:hover {
    background-color: #1a5379;
}